$margin-10: 10px;
$font-color: rgba(255, 255, 255, .95);
$text-color: rgba(255, 255, 255, .8);
$theme-color: rgb(162, 145, 248);
.ui.segment {
  border: none;
  box-shadow: none;
  border-radius: 0;
}
.ui.items>.item>.content {
  padding: 15px;
  a.header, .header {
    color: $font-color;
  }
  .meta, .description {
    color: $text-color;
  }
}
canvas {
  /* NOTE: This size is changed if in iframe - see below '.iframe canvas' */
  width: 100%;
  height: 100vh;
  display: block;
}
#Sweet-Kingdom {
  width: 100%;
  div {
    left: 150px !important;
  }
}
.flex-between {
  display: flex;
  justify-content: space-between;
  margin-bottom: $margin-10;
}
.text-center {
  text-align: center;
}
.input-label {
  color: $theme-color !important;
}
.auto-width {
  width: 100%;
}
.page-router-item {
  color: $font-color;
  p {
    padding: 10px;
  }
  .item {
    margin: 15px 0;
  }
}
.page-router-item:hover {
  color: $theme-color;
}
.float-button {
  position: absolute;
  left: 50%;
  top: 50%;
}
.fixed-top-right {
  position: fixed;
  top: 0;
  right: 0;
}
.choose-image {
  overflow: hidden;
  .file-input {
    position: absolute;
    right: 0;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }
}