$margin-10: 10px;
$font-color: #fff;
$theme-color: rgb(162, 145, 248);
.ui.segment {
  border: none;
  box-shadow: none;
  border-radius: 0;
}
canvas {
  /* NOTE: This size is changed if in iframe - see below '.iframe canvas' */
  width: 100%;
  height: 100vh;
  display: block;
}
#Sweet-Kingdom {
  width: 100%;
  div {
    left: 150px !important;
  }
}
.flex-between {
  display: flex;
  justify-content: space-between;
  margin-bottom: $margin-10;
}
.text-center {
  text-align: center;
}
.input-label {
  color: $theme-color !important;
}
.auto-width {
  width: 100%;
}
.page-router-item {
  color: $font-color;
  p {
    padding: 10px;
  }
}
.page-router-item:hover {
  color: $theme-color;
}
.float-button {
  position: absolute;
  left: 50%;
  top: 50%;
}